/*layout*/

section{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.inner{
	width:100%;
	@include breakDevicePoint( padding, 0 30px, vw(0 30px), null ); 
	box-sizing: border-box;
	padding: vw(0 40px);
	display: flex;
	justify-content: space-between;
	align-items: center;
} 


@media only screen and (max-width: 841px) {
	#work {
		br{ 
			display: inline-block;
			content: " ";
			padding: 0 2px;
		}
	}
}

